@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Peralta&display=swap');

/* Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Peralta', cursive, sans-serif;
    color: white;
    background-color: black;
}

/* Header section */
header {
    font-family: 'Bungee Spice', cursive, sans-serif;
    text-align: center;
    min-height: 50px;
    letter-spacing: 2px;
    margin: 50px 0;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 48px;
}

/* Game section */
.player-turn {
    font-size: 28px;
    margin: 10px;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.playerX {
    color: red;
}

.playerO {
    color: greenyellow;
}

.container {
    min-height: 75vh;
    margin: 0 auto;
    text-align: center;
}

.tile {
    width: 165px;
    height: 165px;
    border: 4px solid;
    border-top: transparent;
    border-right: transparent;
    color: white;
    cursor: pointer;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tile0,
#tile3,
#tile6 {
    border-left: transparent;
}

#tile6,
#tile7,
#tile8 {
    border-bottom: transparent;
}

.tiles {
    font-family: 'Bungee Spice', cursive, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 500px;
    margin: 0 auto;
}

/* Footer section */
footer {
    background-image: url(../assets/images/footer_background.png);
    min-height: 80px;
    padding-top: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer div {
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: black;
    margin: 10px 25px;
    padding-top: 10px;
}


/* Reset or Start a new game */
#reset {
    font-family: 'Bungee Spice', cursive, sans-serif;
    font-size: 28px;
    background-color: transparent;
}

#reset:hover {
    cursor: pointer;
    transform: translateY(2px);
}

/* Media queries */
@media screen and (max-width: 570px) {
    footer div {
        font-size: 16px;
        margin: 0 10px;
        letter-spacing: 1px;
    }

    footer a {
        margin: 0 10px;
    }

    .tile {
        width: 120px;
        height: 120px;
        border: 2px solid;
        font-size: 90px;
    }

    .tiles {
        width: 360px;
        padding: 10px;
    }

    #tile0,
    #tile1,
    #tile2 {
        border-top: transparent;
    }

    #tile2,
    #tile5,
    #tile8 {
        border-right: transparent;
    }
}